# ==================================
# Python
# ==================================

__pycache__/
*.py[cod]
*$py.class



# ==================================
# Virtual Environment
# ==================================

.venv/
venv/
env/
.uv/



# ==================================
# Models / Cache
# ==================================

models/

.cache/

huggingface/

*.bin
*.safetensors
*.pt
*.pth



# ==================================
# Audio
# ==================================

*.wav
*.mp3
*.m4a

audio/*
!audio/.gitkeep



# ==================================
# Logs
# ==================================

*.log


# ==================================
# Environment / Secrets
# ==================================

.env



# ==================================
# OS
# ==================================

.DS_Store



# ==================================
# IDE
# ==================================

.vscode/
.idea/



# ==================================
# Temporary files
# ==================================

*.tmp
*.bak
